<mat-toolbar>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Coffee statistics</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>


<div class="flex">

  <div class="areachart-wrapper dark chart">
    <div class="chartPosition">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="numbersComparison"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
      ></ngx-charts-pie-chart>

    </div>

  </div>

  <div class="areachart-wrapper dark chart">
    <div class="chartPosition">
      <ngx-charts-pie-grid
        [view]="view"
        [scheme]="colorScheme"
        [results]="numbersComparison">
      </ngx-charts-pie-grid>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
