<div class="titleBox">
  <h1 class="title">Coffee statistics</h1>
</div>

<div class="flex">

  <div class="areachart-wrapper dark chart">
    <div class="chartPosition">
      <ngx-charts-pie-chart
        [view]="view"
        [scheme]="colorScheme"
        [results]="numbersComparison"
        [gradient]="gradient"
        [legend]="showLegend"
        [legendPosition]="legendPosition"
        [labels]="showLabels"
        [doughnut]="isDoughnut"
      ></ngx-charts-pie-chart>

    </div>

  </div>

  <div class="areachart-wrapper dark chart">
    <div class="chartPosition">
      <ngx-charts-pie-grid
        [view]="view"
        [scheme]="colorScheme"
        [results]="numbersComparison">
      </ngx-charts-pie-grid>
    </div>

  </div>

</div>

<router-outlet></router-outlet>
